@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary: #12224E;
    --secondary: #FDBB2D;
  }
}

.btn {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  box-shadow: 0px 4.42184px 107.23px #FE973A;
}

.btn:hover {
  filter: saturate(150%) brightness(90%);
}

.gradient {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.active {
  color: #FDBB2D;
}

@layer base {
  body {
    @apply text-white tracking-wide text-base
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl 
  }
  h2 {
    @apply text-3xl sm:text-4xl uppercase tracking-[10%] mb-6 text-accent
  }
  h3 {
    @apply text-2xl leading-[46px] mb-6
  }
  .text-gradient {
    @apply bg-gradient-to-r text-[25px] text-transparent bg-clip-text from-[#22c1c3] to-[#fdbb2d] font-bold hover:from-[#fdbb2d] hover:to-[#22c1c3];
  }
  .btn {
    @apply rounded-lg text-primary p-4 font-bold
  }
}

html {
  font-family: var(--font-oswald);
}

.font-logo {
  font-family: var(--font-permanent_marker);
}